<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <link href="{{ url_for('static', filename='css/estilos.css') }}" rel="stylesheet" type="text/css">
	<title></title>
</head>
<body>
    <div>
        <a>
            funciono?
        </a>
    </div>
    <div class="contenedor">
        <div class="cuadrado">
            <div class="table">
                <div class="trapecio">
                    {%for u in ordenf%}
                    <div class="fila" style="height:calc(690px/{{heif}});">
                    {%for i,v in u.items()%}
                        {%if v==True%}
                            <div class="sillah" id="{{i}}" onclick="">{{i}}</div>
                        {%endif%}
                        {%if v==False%}
                            <div class="sillai" id="{{i}}" onclick="">{{i}}</div>
                        {%endif%}
                    {%endfor%}
                    </div>
                {%endfor%}
            </div>
            </div>
            </div>
        </div>
    
</body>
</html>